<p id="notice"><%= notice %></p>

<h1>Extracts</h1>

<table>
  <thead>
    <tr>
      <th>Movement</th>
      <th>Kind</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extracts.each do |extract| %>
      <tr>
        <td><%= extract.movement %></td>
        <td><%= extract.kind %></td>
        <td><%= extract.value %></td>
        <td><%= link_to 'Show', extract %></td>
        <td><%= link_to 'Edit', edit_extract_path(extract) %></td>
        <td><%= link_to 'Destroy', extract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extract', new_extract_path %>
