<%- model_class = Extract -%>

<%= content_for :page_header do %>
  <h1><%= model_class.model_name.human(count: 2).titleize %></h1>
  <%= link_to "Adicionar", new_extract_path, class: 'btn btn-primary btn-rounded' %>
<% end %>

<%= render 'extracts/search' %>

<hr>

<p>
  <%= page_entries_info @extracts %>
</p>

<p id="notice"><%= notice %></p>

<% if @extracts.present? %>
  <div class="table-responsive">
    <table class="table table-rounded bg-white table-striped table-hover shadow-sm">
      <thead>
        <tr class="text-center text-uppercase">
          <th><%= model_class.human_attribute_name(:id) %></th>
          <th><%= model_class.human_attribute_name(:movement) %></th>
          <th><%= model_class.human_attribute_name(:kind) %></th>
          <th><%= model_class.human_attribute_name(:value) %></th>
          <th><%= model_class.human_attribute_name(:created_at) %></th>
          <th><%= "Ações" %></th>
        </tr>
      </thead>

      <tbody>
        <% @extracts.each do |extract| %>
          <tr class="text-center">
            <td><%= extract.id %></td>
            <td><%= extract.movement %></td>
            <td><%= extract.kind %></td>
            <td><%= extract.value %></td>
            <td><%= l(extract.created_at) %></td>
            
            <td class="options">
              <%= link_to extract_path(extract), class: 'tippy btn btn-info btn-sm btn-rounded',
              :'data-tippy-content' => "Exibir" do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <%= link_to edit_extract_path(extract), class: 'tippy btn btn-primary btn-sm btn-rounded',
              :'data-tippy-content' => "Editar" do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to extract_path(extract), class: 'tippy btn btn-danger btn-sm btn-rounded',
              :'data-tippy-content' => "Excluir", method: :delete, data: { confirm: "Tem certeza?" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<br>

<%= paginate @extracts %>
