<p>
  <strong>Movement:</strong>
  <%= @extract.movement %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @extract.kind %>
</p>

<p>
  <strong>Value:</strong>
  <%= @extract.value %>
</p>

<%= link_to 'Edit', edit_extract_path(@extract) %> |
<%= link_to 'Back', extracts_path %>
