<h1>Seja Bem-Vindo!</h1>
<p><%= nome_aplicacao %></p>
<p>O idioma usado é: <strong><%= I18n.locale %></strong></p>
<p>Data: <%= l(Date.today) %></p>

<%= render "menu" %>

<p>Você está em ambiente de <strong><%= ambiente_rails %></strong></p>